<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @physician.name %>
</p>

<p>
  <b>Notes:</b>
  <%= @physician.notes %>
</p>

<p>
  <b>Code:</b>
  <%= @physician.code %>
</p>


<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
