<%= form_for(@system_admin) do |f| %>
  <% if @system_admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system_admin.errors.count, "error") %> prohibited this system_admin from being saved:</h2>

      <ul>
      <% @system_admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
