<h1>Listing system_admins</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @system_admins.each do |system_admin| %>
  <tr>
    <td><%= system_admin.name %></td>
    <td><%= link_to 'Show', system_admin %></td>
    <td><%= link_to 'Edit', edit_system_admin_path(system_admin) %></td>
    <td><%= link_to 'Destroy', system_admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New System admin', new_system_admin_path %>
