<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Date:</b>
  <%= @patient.date %>
</p>

<p>
  <b>Reason:</b>
  <%= @patient.reason %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
